[color]
	ui = true
[user]
	name = hernald
	email = herndonald@gmail.com
[core]
	excludesfile = /Users/donaldherndon/.gitignore
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	default = current
[init]
	defaultBranch = main
